.background {
  background-color: hsl(208, 100%, 92%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.padded-container {
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  max-width: 200px;
}
.bordered-image {
  border-radius: 10px;
  width: 200px; /* Ensure the image scales properly */
  height: auto;
}
.image-caption-1 {
  font-size: 15px;
  max-width: 100%;
  word-wrap: break-word;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}
.outfit-font-image-caption-1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <900>;
  font-style: normal;
}
.image-caption-2 {
  font-size: 10px;
  max-width: 100%;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}
.outfit-font-image-caption-2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <100>;
  font-style: normal;
}
